.button {
    background: none;
    border: none;
    border-radius: 18px;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    transition: background-color 0.3s ease;
}

/*PRIMARY */

.button.primary {
    background-color: #0C70F2;
    color: white;
}

.button.primary:hover {
    background-color: #0056b3;
}

/*SECUNDARY */

.button.secondary {
    background-color: #1D1D1D;
    color: white;
}

.button.secondary:hover {
    background-color: #4D5053;
}

/* OUTLINE */
.button.outline {
    background-color: white;
    border: 2px solid #0C70F2;
    color: #0C70F2;
}

.button.outline:hover {
    background-color: #0C70F2;
    color: white;
}

/* DISABLED */
.button:disabled, .button.disabled>:hover {
    background-color: #ccc;
    color: #666;
    pointer-events: none;
}