.footer-logo-col {
    max-width: 340px;
    width: 100%;
}

.footer-col {
    font-size: 22px;
    margin: 0 0 0 140px;
    max-width: 260px;
    width: 100%;
}

.footer-col ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-col li {
    margin: 0 0 25px 0;
}

.footer h3, .footer-logo{
    font-size: 25px;
    margin: 0 0 25px 0;
}

.footer a, footer p{
    text-align: left; 
    font-size: 22px;
    margin: 0 0 25px 0;
    line-height: 150%;
}

.footer a {
    color: #292F36 !important;
    text-decoration: none;
    transition: color 0.2s;
}

.footer a:hover {
    color: #292F36 !important;
}

.footer a:visited,
.footer a:active,
.footer a:focus {
    color: #292F36 !important;
}

.footer-logo-col .social-links a{
    margin: 25px 40px 0 0;
}

.footer-copy {
    margin: 150px 0 50px 0;
}

.footer-copy .langs-area {
    column-gap: 23px;
}


@media (max-width: 768px) {

    .footer-col {
        margin: 0 0 0 0;
        max-width: 100%;
        width: 100%;
    }

    .footer-logo-col {
        max-width: 100%;
        width: 100%;
    }

}